
html 
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%


body 
  margin: 0


article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary  /* 1 */
  display: block


/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video 
  display: inline-block


/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) 
  display: none
  height: 0


/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress 
  vertical-align: baseline


/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] 
  display: none


/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a 
  background-color: transparent
  -webkit-text-decoration-skip: objects

a:active,
a:hover 
  outline-width: 0


abbr[title] 
  border-bottom: none
  text-decoration: underline
  text-decoration: underline dotted



b,
strong 
  font-weight: inherit


b,
strong 
  font-weight: bolder



dfn 
  font-style: italic


h1 
  font-size: 2em
  margin: 0.67em 0


mark 
  background-color: #ff0
  color: #000



small 
  font-size: 80%

sub,
sup 
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline


sub 
  bottom: -0.25em


sup 
  top: -0.5em



img 
  border-style: none



svg:not(:root) 
  overflow: hidden


code,
kbd,
pre,
samp 
  font-family: monospace, monospace
  font-size: 1em



figure 
  margin: 1em 40px



hr 
  box-sizing: content-box
  height: 0
  overflow: visible



button,
input,
select,
textarea 
  font: inherit
  margin: 0



optgroup 
  font-weight: bold


button,
input  /* 1 */
  overflow: visible


button,
select  /* 1 */
  text-transform: none



button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] 
  -webkit-appearance: button



button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner 
  border-style: none
  padding: 0


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring 
  outline: 1px dotted ButtonText


/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset 
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend 
  box-sizing: border-box
  color: inherit
  display: table
  max-width: 100%
  padding: 0 /* 3 */
  white-space: normal


/**
 * Remove the default vertical scrollbar in IE.
 */

textarea 
  overflow: auto


/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] 
  box-sizing: border-box
  padding: 0


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button 
  height: auto


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] 
  -webkit-appearance: textfield
  outline-offset: -2px


/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration 
  -webkit-appearance: none


/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder 
  color: inherit
  opacity: 0.54


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button 
  -webkit-appearance: button
  font: inherit

