$base-font-size : 16px
$fontFamily : 'Noticia Text','Noto Sans TC','微軟正黑體','LiHei Pro Medium',Arial,Geneva,Verdana,sans-serif!important

@function rem($px, $base: $base-font-size)
  @return ($px / $base) * 1rem

@function vw($px,$base: 1920px)
  @return ($px / $base) * 100vw

$pad: 768px

@import "_normalize"

=device-md
  @media screen and (min-width: 1360px)
    @content

=device-sm
  @media screen and (min-width: 1240px)
    @content

=pad
  @media screen and (min-width: 769px)
    @content

=pad-max
  @media screen and (max-width: 768px)
    @content


=mobile
  @media screen and (min-width: 571px)
    @content

=mobile-max
  @media screen and (max-width: 570px)
    @content

=mobile-sm
  @media screen and (min-width: 360px)
    @content

=mobile-sm-max
  @media screen and (max-width: 360px)
    @content


section
  position: relative
  display: block

*:focus,*:active
  outline: none

img
  width: 100%
  display: block

body,html
  position: relative
  background: #ffffff
  background-size: cover
  font-size: $base-font-size
  font-family: $fontFamily
  font-weight: 400
  font-size: 16px
  -webkit-text-size-adjust: none

body.hidden
  overflow: hidden

html.lock-body
  touch-action: none
  -ms-touch-action: none
  overflow: hidden

@media screen and (-webkit-min-device-pixel-ratio:0)
  select,
  textarea,
  input
    font-size: 16px


#particles-js
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-image: linear-gradient(164deg, #121c33, #131a2f 33%, #12192a 76%)
  background-repeat: no-repeat
  background-size: 100%
  background-position: 50% 50%
  z-index: 1

.mobile-border
  background-color: rgba(255, 255, 255, 0.3)
  z-index: 100
  +pad
    display: none

  &.top
    position: fixed
    top: 12px
    left: 12px
    right: 12px
    height: 1px

  &.bottom
    position: fixed
    bottom: 12px
    left: 12px
    right: 12px
    height: 1px

  &.left
    position: fixed
    top: 12px
    left: 12px
    bottom: 12px
    width: 1px

  &.right
    position: fixed
    top: 12px
    right: 12px
    bottom: 12px
    width: 1px

#wrapper
  // position: fixed
  // top: 40px
  // left: 40px
  // right: 40px
  // bottom: 40px
  margin: 12px
  position: relative
  z-index: 2

  

  +pad
    border: none
    margin: 40px


#header
  position: relative
  height: 82px

  .social-media
    position: absolute
    top: 24px
    right: 40px
    width: auto

  +pad
    border: 1px solid rgba(white,.6)


.header-light-left
  position: fixed
  top: 8.5px
  left: 8.5px
  +pad
    position: absolute
    top: 80px
    left: -3.5px

  +pad-max
    z-index: 9000

.header-light-right
  position: fixed
  top: 8.5px
  right: 8.5px
  +pad
    position: absolute
    top: 80px
    right: -3.5px

  +pad-max
    z-index: 9000






.social-media
  width: auto

  &.mobile
    +pad
      display: none

  &.desktop
    display: none

    +pad
      display: grid
      grid-template-columns: 1fr 1fr 1fr

  a
    display: block
    width: 100%
    height: 100%
    position: relative

    &:hover .social-media--hover
      opacity: 1
      transform: scale(1)

      .social-media--content
        animation: socialMediaHover 6s linear infinite

    

@keyframes socialMediaHover
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
    

.social-media--hover
  position: absolute
  top: 0
  left: 0
  width: 36px
  height: 36px
  transform: scale(0)
  transition: all .4s ease-in
  opacity: 0

  .social-media--content
    position: relative
    width: 100%
    height: 100%
    border: solid 1px rgba(255, 255, 255, 0.4)
    border-radius: 50%
    

    &::before
      content: ""
      position: absolute
      top: 10px
      left: -1.5px
      width: 3px
      height: 3px
      border-radius: 50%
      margin: 13px 1px 1px 0
      background-color: rgba(255, 255, 255, 0.8)

    &::after
      content: ""
      position: absolute
      top: 0
      right: -2px
      width: 3px
      height: 3px
      border-radius: 50%
      margin: 13px 1px 1px 0
      background-color: rgba(255, 255, 255, 0.8)


.conquers-logo
  position: absolute
  top: 30px
  left: 50%
  margin-left: -90px
  width: 160px
  z-index: 9000
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr

  &.aos-animate svg
    animation: Loading 5s ease forwards
  svg
    display: inline-block
    fill: rgb(244, 206, 66)
    width: 22px
    fill-rule: evenodd
    clip-rule: evenodd
    opacity: 0

    &:nth-child(1)
      transform: rotate(-45deg)

    &:nth-child(2)
      transform: rotate(76deg)
    
    &:nth-child(3)
      transform: rotate(36deg)

    &:nth-child(4)
      transform: rotate(-198deg)

    &:nth-child(5)
      transform: rotate(-185deg)

    &:nth-child(6)
      transform: rotate(-205deg)

    &:nth-child(7)
      transform: rotate(-185deg)

  +pad-max
    position: fixed
    top: 42px
  +pad
    top: 30px
    left: 50px
    margin-left: 0
    width: 160px


.conquers-txt
  position: absolute
  top: 30px
  left: 50%
  transform: translateX(-50%)
  width: 154px
  // &.aos-animate svg
  //   animation: Loading 5s ease forwards

  // svg
  //   transform: scale(1.2)

  &.desktop-show
    display: none
    +pad
      display: block

  svg
    width: 100%


#navigation
  +pad-max
    position: fixed
    top: -100%
    left: 0
    width: 100%
    height: 100vh
    transform: translate3d(0,0,0)
    backface-visibility: hidden
    overflow: hidden
    z-index: 1

    .social-media
      display: grid
      max-width: 170px
      width: 100%
      margin: 0 auto
      align-items: center
      grid-template-columns: 1fr 1fr 1fr
      margin-top: 40px

      > a
        display: flex
        align-items: center

        .button
          width: 30px
          height: 30px
          display: flex
          align-items: center
          justify-content: center
          margin: 0 auto
          

    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: auto
      background-image: linear-gradient(143deg, #121c33, #131a2f 36%, #12192a 82%)
      width: 100%
      height: 0
      padding-bottom: 100%
      border-radius: 100%
      transform: scale(0.04), translateY(9999px)
      overflow: hidden
    .open &
      top: 0
      z-index: 4000
      &:before
        animation: menu-animation 0.8s ease-out forwards

    a
      opacity: 0
      text-align: center
      transform: translate3d(0,36px,0)
      .open &
        opacity: 1
        transform: translate3d(0,0,0)
        transition: transform 0.2s ease-out,opacity 0.2s ease-out
        @for $i from 1 to 7
          &:nth-child(#{$i})
            transition-delay: $i * 0.1s + 0.65s



@keyframes menu-animation
  0%
    opacity: 0
    transform: scale(0.04) translateY(300%)
  
  40%
    transform: scale(0.04) translateY(0)
    transition: ease-out
  
  40%
    transform: scale(0.04) translateY(0)
  
  60%
    opacity: 1
    transform: scale(0.02) translateY(0px)
  
  61%
    transform: scale(0.04)
  
  99.9%
    height: 0
    padding-bottom: 100%
    border-radius: 100%
  
  100%
    transform: scale(2)
    height: 100%
    padding-bottom: 0
    border-radius: 0
  
 


.navigation--inner
  display: flex
  flex-flow: wrap row
  max-width: 1200px
  width: 70%
  margin: 0 auto
  align-items: center
  justify-content: center

  +pad-max
    width: 220px
    flex-flow: wrap
    align-items: center
    margin-top: 120px

  +mobile-max
    margin-top: 100px

  a
    position: relative
    display: block
    flex: auto
    min-width: 200px
    max-width: 400px
    color: #ffffff
    font-size: 14px
    line-height: 70px
    font-weight: 500
    letter-spacing: 8.75px
    text-align: center
    color: #ffffff
    text-decoration: none

    +pad-max
      min-width: 100%
      font-size: 20px
      line-height: 60px
      letter-spacing: 11.43px
      margin: 8px 0

      &.link:before,&.link:after
        content: ""
        position: absolute
        width: 0%
        height: 1px
        background-color: #f4ce42
        transition: all .4s ease-in-out

      &.link:before
        left: 0
        top: 0

      &.link::after
        bottom: 0
        right: 0

      &.link:hover::after,&.link:hover::before
        width: 100%


    +mobile-max
      line-height: 50px
      font-size: 16px

    &:hover .left-border,
    &:hover .right-border
      height: 100%

    &:hover .light
      opacity: 1

  .light
    opacity: 0

  .left-border
    content: ""
    position: absolute
    top: 0
    left: -.5px
    width: 1px
    height: 0%
    background-color: #f4ce42
    transition: all .4s ease-in-out
    .light
      position: absolute
      top: -3px
      left: -2.5px

  .right-border
    content: ""
    position: absolute
    bottom: 0
    right: -.5px
    width: 1px
    height: 0%
    background-color: #f4ce42
    transition: all .4s ease-in-out
    .light
      position: absolute
      bottom: -3px
      left: -2.5px


  

.light
  width: 7px
  height: 7px
  position: relative
  animation: lightBox 1s ease infinite alternate

  &::before
    content: ""
    position: absolute
    top: 2.5px
    left: 0
    width: 100%
    height: 1px
    background-color: rgba(white,.7)
    animation: light 1s .5s ease infinite alternate
    

  &::after
    content: ""
    position: absolute
    top: 0
    left: 2.5px
    width: 1px
    height: 100%
    background-color: rgba(white,.7)
    box-shadow: 0 2px 14px 4px rgba(255, 255, 255, 0.7)
    animation: light 1s ease infinite alternate


@keyframes lightBox
  to
    transform: scale(.5)


@keyframes light
  0%
    box-shadow: 0 2px 14px 4px rgba(255, 255, 255, 0.7)
    
  100%
    box-shadow: 0 2px 5px 4px rgba(255, 255, 255, 0.1)
    






i.ico
  display: inline-block
  width: 36px
  height: 36px
  background-repeat: no-repeat
  background-position: center center

  &.ico-facebook
    background-image: url(../images/ico-fb.svg)

  &.ico-instagram
    background-image: url(../images/ico-ig.svg)

  &.ico-line
    background-image: url(../images/ico-line.svg)


#main
  position: relative

  +device-md
    min-height: calc(100vh - 338px)
  +pad-max
    transition: 0.2s ease-out
    .open &
      transform: scale(0.92)
      transition: transform 0.2s 0.41s ease-out

  +pad
    border: 1px solid rgba(white,.6)


// .main-scroll
//   overflow-y: scroll
//   width: 100%
//   height: 100%

.main-light-left
  position: absolute
  top: -3.5px
  left: -3.5px
  display: none

  +pad
    display: block

.main-light-right
  position: absolute
  top: -3.5px
  right: -3.5px
  display: none

  +pad
    display: block


#footer
  position: relative
  padding: 30px 50px
  min-height: 82px
  box-sizing: border-box

  +mobile-max
    width: 100%
    padding-left: 20px
    padding-right: 20px

  +pad
    border: 1px solid rgba(white,.6)
    border-top: none

  
  span
    color: #cccccc
    font-size: 12px
    line-height: 30px
    letter-spacing: 2.77px

    &.desktop-show
      display: none
      +device-sm
        display: inline-block

    &.mobile-show
      display: block
      +device-sm
        display: none

    b
      color: rgba(244, 206, 66, 0.8)

  a
    color: #cccccc
    text-decoration: none

.footeer-left-top-light
  position: absolute
  top: -3.5px
  left: -3.5px
  display: none
  +pad
    display: block

.footeer-left-bottom-light
  position: fixed
  bottom: 8px
  left: 8px
  +pad
    position: absolute
    bottom: -3.5px
    left: -3.5px

  +pad-max
    z-index: 9000

.footeer-right-top-light
  position: absolute
  top: -3.5px
  right: -3.5px
  display: none
  +pad
    display: block

.footeer-right-bottom-light
  position: fixed
  bottom: 8px
  right: 8px

  +pad
    position: absolute
    bottom: -3.5px
    right: -3.5px

  +pad-max
    z-index: 9000


.footer-copyright-grid
  +device-sm
    display: flex

    .col:nth-child(1)    
        flex: 75%
    
    .col:nth-child(2)
        flex: 25%
        text-align: right

.footer-detail--msg
  +pad
    display: flex

  span
    display: block
    +pad
      display: inline-block
      padding: 0 15px

    &:nth-child(1)
      padding-left: 0

      +pad
        padding-left: 15px


.footer-detail
  +pad
    position: relative
    padding-left: 66px


.ico-location
  display: inline-block
  vertical-align: middle

.footer-detail--icon
  position: absolute
  top: 0
  left: 0
  padding-right: 42px
  display: inline-block
  vertical-align: middle
  display: none
  
  +pad
    display: block

  svg
    position: relative
    top: 3px

  &::after
    content: ""
    position: absolute
    top: 50%
    right: 0
    width: 42px
    height: 1px
    background-color: #f4ce42

.main-inner
  max-width: 1390px
  width: 80%
  margin: 0 auto
  padding: 50px 0
  box-sizing: border-box

  +mobile-max
    width: 100%
    padding-left: 20px
    padding-right: 20px

.portfolio-group
  display: grid
  column-gap: 140px
  grid-template-columns: 1fr
  color: white
  font-size: 16px
  font-weight: 500
  text-align: center

  figure
    margin: 0

  +mobile
    column-gap: 60px
    

  +pad
    column-gap: 140px
    grid-template-columns: 1fr 1fr

  a
    color: inherit
    text-decoration: none

  &--item
    max-width: 612px
    margin: 50px 0


.portfolio-group--description
  position: relative
  display: block
  padding-top: 50px
  font-weight: normal
  margin: 0
  font-size: 16px
  letter-spacing: 6.86px
  &:before
    content: ""
    position: absolute
    top: 10px
    left: 50%
    width: 1px
    height: 30px
    background-color: #ffffff
    z-index: 1


.portfolio-carousel
  position: relative
  margin-bottom: 35px
  margin-top: rem(50px)

  .swiper-slide
    padding-left: rem(100px)
    padding-right: rem(100px)
    box-sizing: border-box

  +pad-max
    padding-bottom: 30px
    margin-top: 0
    margin-bottom: 0

    .swiper-slide
      padding-left: 0
      padding-right: 0


  &--title
    font-size: 18px
    font-weight: normal
    line-height: 0.89
    letter-spacing: 6.75px
    text-align: center
    color: #f4ce42
    margin: 32px 0

    +pad
      display: none

.portfolio-carousel-arrow

  &.swiper-button-disabled
    opacity: .2
    pointer-events: none
    
  svg.mobile
    display: block
    +pad
      display: none

  svg.desktop
    display: none
    +pad
      display: block

  +pad
    position: absolute
    top: 50%
    width: 5%
    max-width: rem(70px)
    margin-top: -26px
    z-index: 20
    cursor: pointer

    &.portfolio-carousel--next
      right: 0

    &.portfolio-carousel--prev
      left: 0

  +pad-max
    position: absolute
    bottom: 0
    width: 80px
    overflow: hidde
    z-index: 20
    cursor: pointer

    &.portfolio-carousel--next
      right: 0

    &.portfolio-carousel--prev
      left: 0

  +mobile-sm-max
    width: 40px
    overflow: hidden

    &.portfolio-carousel--next
      margin-left: -40px


.portfolio-carousel-count
  display: block
  font-size: 16px
  line-height: 1.5
  letter-spacing: 6.86px
  text-align: right
  color: rgba(255, 255, 255, 0.5)
  margin-right: rem(100px)

  +pad-max
    margin-top: -20px
    line-height: 20px
    margin-right: 0
    text-align: center

  span.current
    color: #f4ce42


.main-title
  position: relative
  max-width: 200px
  text-align: center
  margin: 0 auto rem(60px)

  +pad
    display: none
  
  .border
    position: absolute
    background: rgba(244, 206, 66, 0.6)
  
    &-top
      width: 100%
      height: 1px
      top: 0
      left: 0

    &-bottom
      width: 100%
      height: 1px
      bottom: 0
      left: 0

    &-left
      width: 1px
      height: 100%
      top: 0
      left: 0

    &-right
      width: 1px
      height: 100%
      top: 0
      right: 0

  .light-left
    position: absolute
    top: -3.5px
    left: -2.5px

  .light-right
    position: absolute
    bottom: -3.5px
    right: -2.5px

  h2
    margin: 0
    color: #f4ce42
    line-height: 50px
    letter-spacing: 10.29px
    font-weight: 500
    font-size: 18px



#hamburger-navi
  position: fixed
  top: 40px
  right: 40px
  width: 27px
  height: 22px
  z-index: 9000
  +pad
    display: none

  span
    display: block
    position: absolute
    width: 100%
    height: 1px
    background-color: #f4ce42

    &:nth-child(1)
      top: 0

    &:nth-child(2)
      top: 10px
      left: 2px
      width: 22px
    
    &:nth-child(3)
      top: 22px

  .open &
    opacity: 1

    span:nth-child(2)
      opacity: 0
      width: 0
    
    span:nth-child(1)
      opacity: 1
      top: 10px
      transform: translate3d(0,0,0) rotate(360deg+45deg)
      transition: transform 0.4s ease-out, opacity 0.4s ease-out

    span:nth-child(3)
      opacity: 1
      top: 10px
      transform: translate3d(0,0,0) rotate(360deg-45deg)
      transition: transform 0.4s ease-out, opacity 0.4s ease-out

.portfolio-group--item

  +mobile-max
    &:nth-child(1)
      margin-top: 0
  .portfolio-group--description:before,
  .portfolio-group--description span,
  img
    transition: all .5s ease
  
  &:hover img
    transform: scale(1.02)
    box-shadow: 0 10px 30px rgba(black,1)

  span
    display: block
    width: 100%
    transform: translateY(0)

  &:hover .portfolio-group--description
    
    &::before
      height: 62px
      background-color: #f4ce42

    span
      color: #f4ce42
      transform: translateY(30px)

#back-top
  position: fixed
  bottom: 40px
  right: -60px
  width: 38px
  height: auto
  opacity: 0
  transition: all .8s ease
  display: none
  +pad-max
    display: block

  &.show
    opacity: 1
    right: 40px

+pad-max
  .scroll
    width: 100%
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch



//loading
#loading
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 10000
  background-image: linear-gradient(164deg, #121c33, #131a2f 33%, #12192a 76%)

  .svg-cc
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
    position: absolute
    top: 50%
    left: 50%
    margin-top: -15px
    margin-left: -105px
    width: 210px
    animation: LoadingContent 5s ease forwards infinite

    svg
      display: inline-block
      fill: white
      width: 30px
      fill-rule: evenodd
      clip-rule: evenodd
      opacity: 0
      animation: Loading 5s ease forwards infinite
    
      &:nth-child(1)
        transform: rotate(-45deg)

      &:nth-child(2)
        transform: rotate(76deg)
      
      &:nth-child(3)
        transform: rotate(36deg)

      &:nth-child(4)
        transform: rotate(-198deg)

      &:nth-child(5)
        transform: rotate(-185deg)

      &:nth-child(6)
        transform: rotate(-205deg)

      &:nth-child(7)
        transform: rotate(-185deg)
       


@keyframes LoadingContent
  0%
    transform: rotate(0deg) scale(1.5)
    opacity: 0

  20%,100%
    transform: rotate(0deg) scale(1)
    opacity: 1

@keyframes Loading
  40%,100%
    transform: rotate(0deg) scale(1)
    opacity: 1
    

.loading.on-load
  transition: transform 2s .3s


.loading.on-load:before,.loading.on-load:after
  transform: translateX(100%)
  transition: transform .6s


.loading.on-load:before
  transition-delay: 1s


#btn-back
  position: fixed
  top: 40px
  left: 40px
  width: 20px
  height: auto
  z-index: 200
  display: none

  +pad-max
    display: block