@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

menu,
nav,
section,
summary {
  display: block;
}

/**
 * * Add the correct display in IE 9-.
 * */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * * Add the correct display in iOS 4-7.
 * */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 * */
progress {
  vertical-align: baseline;
}

/**
 * * Add the correct display in IE 10-.
 * * 1. Add the correct display in IE.
 * */
[hidden] {
  display: none;
}

/* Links
 * ========================================================================== */
/**
 * * 1. Remove the gray background on active links in IE 10.
 * * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 * */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * * Restore the focus styles unset by the previous rule.
 * */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * * Change the border, margin, and padding in all browsers (opinionated).
 * */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * * 1. Correct the text wrapping in Edge and IE.
 * * 2. Correct the color inheritance from `fieldset` elements in IE.
 * * 3. Remove the padding so developers are not caught out when they zero out
 * *    `fieldset` elements in all browsers.
 * */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * * Remove the default vertical scrollbar in IE.
 * */
textarea {
  overflow: auto;
}

/**
 * * 1. Add the correct box sizing in IE 10-.
 * * 2. Remove the padding in IE 10-.
 * */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * * Correct the cursor style of increment and decrement buttons in Chrome.
 * */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * * 1. Correct the odd appearance in Chrome and Safari.
 * * 2. Correct the outline style in Safari.
 * */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 * */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * * Correct the text style of placeholders in Chrome, Edge, and Safari.
 * */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * * 1. Correct the inability to style clickable types in iOS and Safari.
 * * 2. Change font properties to `inherit` in Safari.
 * */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

section {
  position: relative;
  display: block;
}

*:focus, *:active {
  outline: none;
}

img {
  width: 100%;
  display: block;
}

body, html {
  position: relative;
  background: #ffffff;
  background-size: cover;
  font-size: 16px;
  font-family: "Noticia Text", "Noto Sans TC", "微軟正黑體", "LiHei Pro Medium", Arial, Geneva, Verdana, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

body.hidden {
  overflow: hidden;
}

html.lock-body {
  touch-action: none;
  -ms-touch-action: none;
  overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
textarea,
input {
    font-size: 16px;
  }
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(164deg, #121c33, #131a2f 33%, #12192a 76%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  z-index: 1;
}

.mobile-border {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 100;
}
@media screen and (min-width: 769px) {
  .mobile-border {
    display: none;
  }
}
.mobile-border.top {
  position: fixed;
  top: 12px;
  left: 12px;
  right: 12px;
  height: 1px;
}
.mobile-border.bottom {
  position: fixed;
  bottom: 12px;
  left: 12px;
  right: 12px;
  height: 1px;
}
.mobile-border.left {
  position: fixed;
  top: 12px;
  left: 12px;
  bottom: 12px;
  width: 1px;
}
.mobile-border.right {
  position: fixed;
  top: 12px;
  right: 12px;
  bottom: 12px;
  width: 1px;
}

#wrapper {
  margin: 12px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  #wrapper {
    border: none;
    margin: 40px;
  }
}

#header {
  position: relative;
  height: 82px;
}
#header .social-media {
  position: absolute;
  top: 24px;
  right: 40px;
  width: auto;
}
@media screen and (min-width: 769px) {
  #header {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}

.header-light-left {
  position: fixed;
  top: 8.5px;
  left: 8.5px;
}
@media screen and (min-width: 769px) {
  .header-light-left {
    position: absolute;
    top: 80px;
    left: -3.5px;
  }
}
@media screen and (max-width: 768px) {
  .header-light-left {
    z-index: 9000;
  }
}

.header-light-right {
  position: fixed;
  top: 8.5px;
  right: 8.5px;
}
@media screen and (min-width: 769px) {
  .header-light-right {
    position: absolute;
    top: 80px;
    right: -3.5px;
  }
}
@media screen and (max-width: 768px) {
  .header-light-right {
    z-index: 9000;
  }
}

.social-media {
  width: auto;
}
@media screen and (min-width: 769px) {
  .social-media.mobile {
    display: none;
  }
}
.social-media.desktop {
  display: none;
}
@media screen and (min-width: 769px) {
  .social-media.desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.social-media a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.social-media a:hover .social-media--hover {
  opacity: 1;
  transform: scale(1);
}
.social-media a:hover .social-media--hover .social-media--content {
  animation: socialMediaHover 6s linear infinite;
}

@keyframes socialMediaHover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.social-media--hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  transform: scale(0);
  transition: all 0.4s ease-in;
  opacity: 0;
}
.social-media--hover .social-media--content {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.social-media--hover .social-media--content::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -1.5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 13px 1px 1px 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.social-media--hover .social-media--content::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 13px 1px 1px 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.conquers-logo {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -90px;
  width: 160px;
  z-index: 9000;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.conquers-logo.aos-animate svg {
  animation: Loading 5s ease forwards;
}
.conquers-logo svg {
  display: inline-block;
  fill: #f4ce42;
  width: 22px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  opacity: 0;
}
.conquers-logo svg:nth-child(1) {
  transform: rotate(-45deg);
}
.conquers-logo svg:nth-child(2) {
  transform: rotate(76deg);
}
.conquers-logo svg:nth-child(3) {
  transform: rotate(36deg);
}
.conquers-logo svg:nth-child(4) {
  transform: rotate(-198deg);
}
.conquers-logo svg:nth-child(5) {
  transform: rotate(-185deg);
}
.conquers-logo svg:nth-child(6) {
  transform: rotate(-205deg);
}
.conquers-logo svg:nth-child(7) {
  transform: rotate(-185deg);
}
@media screen and (max-width: 768px) {
  .conquers-logo {
    position: fixed;
    top: 42px;
  }
}
@media screen and (min-width: 769px) {
  .conquers-logo {
    top: 30px;
    left: 50px;
    margin-left: 0;
    width: 160px;
  }
}

.conquers-txt {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 154px;
}
.conquers-txt.desktop-show {
  display: none;
}
@media screen and (min-width: 769px) {
  .conquers-txt.desktop-show {
    display: block;
  }
}
.conquers-txt svg {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    z-index: 1;
  }
  #navigation .social-media {
    display: grid;
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
  }
  #navigation .social-media > a {
    display: flex;
    align-items: center;
  }
  #navigation .social-media > a .button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  #navigation:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: linear-gradient(143deg, #121c33, #131a2f 36%, #12192a 82%);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  .open #navigation {
    top: 0;
    z-index: 4000;
  }
  .open #navigation:before {
    animation: menu-animation 0.8s ease-out forwards;
  }
  #navigation a {
    opacity: 0;
    text-align: center;
    transform: translate3d(0, 36px, 0);
  }
  .open #navigation a {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }
  .open #navigation a:nth-child(1) {
    transition-delay: 0.75s;
  }
  .open #navigation a:nth-child(2) {
    transition-delay: 0.85s;
  }
  .open #navigation a:nth-child(3) {
    transition-delay: 0.95s;
  }
  .open #navigation a:nth-child(4) {
    transition-delay: 1.05s;
  }
  .open #navigation a:nth-child(5) {
    transition-delay: 1.15s;
  }
  .open #navigation a:nth-child(6) {
    transition-delay: 1.25s;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
.navigation--inner {
  display: flex;
  flex-flow: wrap row;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .navigation--inner {
    width: 220px;
    flex-flow: wrap;
    align-items: center;
    margin-top: 120px;
  }
}
@media screen and (max-width: 570px) {
  .navigation--inner {
    margin-top: 100px;
  }
}
.navigation--inner a {
  position: relative;
  display: block;
  flex: auto;
  min-width: 200px;
  max-width: 400px;
  color: #ffffff;
  font-size: 14px;
  line-height: 70px;
  font-weight: 500;
  letter-spacing: 8.75px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .navigation--inner a {
    min-width: 100%;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: 11.43px;
    margin: 8px 0;
  }
  .navigation--inner a.link:before, .navigation--inner a.link:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #f4ce42;
    transition: all 0.4s ease-in-out;
  }
  .navigation--inner a.link:before {
    left: 0;
    top: 0;
  }
  .navigation--inner a.link::after {
    bottom: 0;
    right: 0;
  }
  .navigation--inner a.link:hover::after, .navigation--inner a.link:hover::before {
    width: 100%;
  }
}
@media screen and (max-width: 570px) {
  .navigation--inner a {
    line-height: 50px;
    font-size: 16px;
  }
}
.navigation--inner a:hover .left-border, .navigation--inner a:hover .right-border {
  height: 100%;
}
.navigation--inner a:hover .light {
  opacity: 1;
}
.navigation--inner .light {
  opacity: 0;
}
.navigation--inner .left-border {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 1px;
  height: 0%;
  background-color: #f4ce42;
  transition: all 0.4s ease-in-out;
}
.navigation--inner .left-border .light {
  position: absolute;
  top: -3px;
  left: -2.5px;
}
.navigation--inner .right-border {
  content: "";
  position: absolute;
  bottom: 0;
  right: -0.5px;
  width: 1px;
  height: 0%;
  background-color: #f4ce42;
  transition: all 0.4s ease-in-out;
}
.navigation--inner .right-border .light {
  position: absolute;
  bottom: -3px;
  left: -2.5px;
}

.light {
  width: 7px;
  height: 7px;
  position: relative;
  animation: lightBox 1s ease infinite alternate;
}
.light::before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  animation: light 1s 0.5s ease infinite alternate;
}
.light::after {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5px;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 14px 4px rgba(255, 255, 255, 0.7);
  animation: light 1s ease infinite alternate;
}

@keyframes lightBox {
  to {
    transform: scale(0.5);
  }
}
@keyframes light {
  0% {
    box-shadow: 0 2px 14px 4px rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 2px 5px 4px rgba(255, 255, 255, 0.1);
  }
}
i.ico {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
}
i.ico.ico-facebook {
  background-image: url(../images/ico-fb.svg);
}
i.ico.ico-instagram {
  background-image: url(../images/ico-ig.svg);
}
i.ico.ico-line {
  background-image: url(../images/ico-line.svg);
}

#main {
  position: relative;
}
@media screen and (min-width: 1360px) {
  #main {
    min-height: calc(100vh - 338px);
  }
}
@media screen and (max-width: 768px) {
  #main {
    transition: 0.2s ease-out;
  }
  .open #main {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out;
  }
}
@media screen and (min-width: 769px) {
  #main {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}

.main-light-left {
  position: absolute;
  top: -3.5px;
  left: -3.5px;
  display: none;
}
@media screen and (min-width: 769px) {
  .main-light-left {
    display: block;
  }
}

.main-light-right {
  position: absolute;
  top: -3.5px;
  right: -3.5px;
  display: none;
}
@media screen and (min-width: 769px) {
  .main-light-right {
    display: block;
  }
}

#footer {
  position: relative;
  padding: 30px 50px;
  min-height: 82px;
  box-sizing: border-box;
}
@media screen and (max-width: 570px) {
  #footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 769px) {
  #footer {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-top: none;
  }
}
#footer span {
  color: #cccccc;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 2.77px;
}
#footer span.desktop-show {
  display: none;
}
@media screen and (min-width: 1240px) {
  #footer span.desktop-show {
    display: inline-block;
  }
}
#footer span.mobile-show {
  display: block;
}
@media screen and (min-width: 1240px) {
  #footer span.mobile-show {
    display: none;
  }
}
#footer span b {
  color: rgba(244, 206, 66, 0.8);
}
#footer a {
  color: #cccccc;
  text-decoration: none;
}

.footeer-left-top-light {
  position: absolute;
  top: -3.5px;
  left: -3.5px;
  display: none;
}
@media screen and (min-width: 769px) {
  .footeer-left-top-light {
    display: block;
  }
}

.footeer-left-bottom-light {
  position: fixed;
  bottom: 8px;
  left: 8px;
}
@media screen and (min-width: 769px) {
  .footeer-left-bottom-light {
    position: absolute;
    bottom: -3.5px;
    left: -3.5px;
  }
}
@media screen and (max-width: 768px) {
  .footeer-left-bottom-light {
    z-index: 9000;
  }
}

.footeer-right-top-light {
  position: absolute;
  top: -3.5px;
  right: -3.5px;
  display: none;
}
@media screen and (min-width: 769px) {
  .footeer-right-top-light {
    display: block;
  }
}

.footeer-right-bottom-light {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
@media screen and (min-width: 769px) {
  .footeer-right-bottom-light {
    position: absolute;
    bottom: -3.5px;
    right: -3.5px;
  }
}
@media screen and (max-width: 768px) {
  .footeer-right-bottom-light {
    z-index: 9000;
  }
}

@media screen and (min-width: 1240px) {
  .footer-copyright-grid {
    display: flex;
  }
  .footer-copyright-grid .col:nth-child(1) {
    flex: 75%;
  }
  .footer-copyright-grid .col:nth-child(2) {
    flex: 25%;
    text-align: right;
  }
}

@media screen and (min-width: 769px) {
  .footer-detail--msg {
    display: flex;
  }
}
.footer-detail--msg span {
  display: block;
}
@media screen and (min-width: 769px) {
  .footer-detail--msg span {
    display: inline-block;
    padding: 0 15px;
  }
}
.footer-detail--msg span:nth-child(1) {
  padding-left: 0;
}
@media screen and (min-width: 769px) {
  .footer-detail--msg span:nth-child(1) {
    padding-left: 15px;
  }
}

@media screen and (min-width: 769px) {
  .footer-detail {
    position: relative;
    padding-left: 66px;
  }
}

.ico-location {
  display: inline-block;
  vertical-align: middle;
}

.footer-detail--icon {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 42px;
  display: inline-block;
  vertical-align: middle;
  display: none;
}
@media screen and (min-width: 769px) {
  .footer-detail--icon {
    display: block;
  }
}
.footer-detail--icon svg {
  position: relative;
  top: 3px;
}
.footer-detail--icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 42px;
  height: 1px;
  background-color: #f4ce42;
}

.main-inner {
  max-width: 1390px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 570px) {
  .main-inner {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.portfolio-group {
  display: grid;
  column-gap: 140px;
  grid-template-columns: 1fr;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.portfolio-group figure {
  margin: 0;
}
@media screen and (min-width: 571px) {
  .portfolio-group {
    column-gap: 60px;
  }
}
@media screen and (min-width: 769px) {
  .portfolio-group {
    column-gap: 140px;
    grid-template-columns: 1fr 1fr;
  }
}
.portfolio-group a {
  color: inherit;
  text-decoration: none;
}
.portfolio-group--item {
  max-width: 612px;
  margin: 50px 0;
}

.portfolio-group--description {
  position: relative;
  display: block;
  padding-top: 50px;
  font-weight: normal;
  margin: 0;
  font-size: 16px;
  letter-spacing: 6.86px;
}
.portfolio-group--description:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 1px;
  height: 30px;
  background-color: #ffffff;
  z-index: 1;
}

.portfolio-carousel {
  position: relative;
  margin-bottom: 35px;
  margin-top: 3.125rem;
}
.portfolio-carousel .swiper-slide {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .portfolio-carousel {
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .portfolio-carousel .swiper-slide {
    padding-left: 0;
    padding-right: 0;
  }
}
.portfolio-carousel--title {
  font-size: 18px;
  font-weight: normal;
  line-height: 0.89;
  letter-spacing: 6.75px;
  text-align: center;
  color: #f4ce42;
  margin: 32px 0;
}
@media screen and (min-width: 769px) {
  .portfolio-carousel--title {
    display: none;
  }
}

.portfolio-carousel-arrow.swiper-button-disabled {
  opacity: 0.2;
  pointer-events: none;
}
.portfolio-carousel-arrow svg.mobile {
  display: block;
}
@media screen and (min-width: 769px) {
  .portfolio-carousel-arrow svg.mobile {
    display: none;
  }
}
.portfolio-carousel-arrow svg.desktop {
  display: none;
}
@media screen and (min-width: 769px) {
  .portfolio-carousel-arrow svg.desktop {
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .portfolio-carousel-arrow {
    position: absolute;
    top: 50%;
    width: 5%;
    max-width: 4.375rem;
    margin-top: -26px;
    z-index: 20;
    cursor: pointer;
  }
  .portfolio-carousel-arrow.portfolio-carousel--next {
    right: 0;
  }
  .portfolio-carousel-arrow.portfolio-carousel--prev {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .portfolio-carousel-arrow {
    position: absolute;
    bottom: 0;
    width: 80px;
    overflow: hidde;
    z-index: 20;
    cursor: pointer;
  }
  .portfolio-carousel-arrow.portfolio-carousel--next {
    right: 0;
  }
  .portfolio-carousel-arrow.portfolio-carousel--prev {
    left: 0;
  }
}
@media screen and (max-width: 360px) {
  .portfolio-carousel-arrow {
    width: 40px;
    overflow: hidden;
  }
  .portfolio-carousel-arrow.portfolio-carousel--next {
    margin-left: -40px;
  }
}

.portfolio-carousel-count {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 6.86px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 6.25rem;
}
@media screen and (max-width: 768px) {
  .portfolio-carousel-count {
    margin-top: -20px;
    line-height: 20px;
    margin-right: 0;
    text-align: center;
  }
}
.portfolio-carousel-count span.current {
  color: #f4ce42;
}

.main-title {
  position: relative;
  max-width: 200px;
  text-align: center;
  margin: 0 auto 3.75rem;
}
@media screen and (min-width: 769px) {
  .main-title {
    display: none;
  }
}
.main-title .border {
  position: absolute;
  background: rgba(244, 206, 66, 0.6);
}
.main-title .border-top {
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
}
.main-title .border-bottom {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}
.main-title .border-left {
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
}
.main-title .border-right {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
.main-title .light-left {
  position: absolute;
  top: -3.5px;
  left: -2.5px;
}
.main-title .light-right {
  position: absolute;
  bottom: -3.5px;
  right: -2.5px;
}
.main-title h2 {
  margin: 0;
  color: #f4ce42;
  line-height: 50px;
  letter-spacing: 10.29px;
  font-weight: 500;
  font-size: 18px;
}

#hamburger-navi {
  position: fixed;
  top: 40px;
  right: 40px;
  width: 27px;
  height: 22px;
  z-index: 9000;
}
@media screen and (min-width: 769px) {
  #hamburger-navi {
    display: none;
  }
}
#hamburger-navi span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f4ce42;
}
#hamburger-navi span:nth-child(1) {
  top: 0;
}
#hamburger-navi span:nth-child(2) {
  top: 10px;
  left: 2px;
  width: 22px;
}
#hamburger-navi span:nth-child(3) {
  top: 22px;
}
.open #hamburger-navi {
  opacity: 1;
}
.open #hamburger-navi span:nth-child(2) {
  opacity: 0;
  width: 0;
}
.open #hamburger-navi span:nth-child(1) {
  opacity: 1;
  top: 10px;
  transform: translate3d(0, 0, 0) rotate(405deg);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.open #hamburger-navi span:nth-child(3) {
  opacity: 1;
  top: 10px;
  transform: translate3d(0, 0, 0) rotate(315deg);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

@media screen and (max-width: 570px) {
  .portfolio-group--item:nth-child(1) {
    margin-top: 0;
  }
}
.portfolio-group--item .portfolio-group--description:before,
.portfolio-group--item .portfolio-group--description span,
.portfolio-group--item img {
  transition: all 0.5s ease;
}
.portfolio-group--item:hover img {
  transform: scale(1.02);
  box-shadow: 0 10px 30px black;
}
.portfolio-group--item span {
  display: block;
  width: 100%;
  transform: translateY(0);
}
.portfolio-group--item:hover .portfolio-group--description::before {
  height: 62px;
  background-color: #f4ce42;
}
.portfolio-group--item:hover .portfolio-group--description span {
  color: #f4ce42;
  transform: translateY(30px);
}

#back-top {
  position: fixed;
  bottom: 40px;
  right: -60px;
  width: 38px;
  height: auto;
  opacity: 0;
  transition: all 0.8s ease;
  display: none;
}
@media screen and (max-width: 768px) {
  #back-top {
    display: block;
  }
}
#back-top.show {
  opacity: 1;
  right: 40px;
}

@media screen and (max-width: 768px) {
  .scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-image: linear-gradient(164deg, #121c33, #131a2f 33%, #12192a 76%);
}
#loading .svg-cc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -105px;
  width: 210px;
  animation: LoadingContent 5s ease forwards infinite;
}
#loading .svg-cc svg {
  display: inline-block;
  fill: white;
  width: 30px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  opacity: 0;
  animation: Loading 5s ease forwards infinite;
}
#loading .svg-cc svg:nth-child(1) {
  transform: rotate(-45deg);
}
#loading .svg-cc svg:nth-child(2) {
  transform: rotate(76deg);
}
#loading .svg-cc svg:nth-child(3) {
  transform: rotate(36deg);
}
#loading .svg-cc svg:nth-child(4) {
  transform: rotate(-198deg);
}
#loading .svg-cc svg:nth-child(5) {
  transform: rotate(-185deg);
}
#loading .svg-cc svg:nth-child(6) {
  transform: rotate(-205deg);
}
#loading .svg-cc svg:nth-child(7) {
  transform: rotate(-185deg);
}

@keyframes LoadingContent {
  0% {
    transform: rotate(0deg) scale(1.5);
    opacity: 0;
  }
  20%, 100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
@keyframes Loading {
  40%, 100% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}
.loading.on-load {
  transition: transform 2s 0.3s;
}

.loading.on-load:before, .loading.on-load:after {
  transform: translateX(100%);
  transition: transform 0.6s;
}

.loading.on-load:before {
  transition-delay: 1s;
}

#btn-back {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 20px;
  height: auto;
  z-index: 200;
  display: none;
}
@media screen and (max-width: 768px) {
  #btn-back {
    display: block;
  }
}